<a href="/impressum">Impressum</a>
<% if user.nil? %>
  <a href="/users/new">Registrieren</a>
  <a href="/users/signin">Anmelden</a>
<% else %>
  <form action="/sessions/destroy" method="POST">
    <button>sign out</button>
  </form>
<% end %>


<%if user %>
  <p><%= user.email %></p>
<% end %>

<h1> ToDo-Liste </h1>

<h3 style="font-family: 'Arial';"> Was gibts zu tun? </h3>

<form action='/tasks/create' method='POST'>
  <p>Schreibs hier auf:</p> <input name="task" autofocus="true"/>
  <!-- damit das Eingabefeld aktiv bleibt-->

  <input type="submit" value="Bestaetigen" />
</form>

<form method="GET" action="/">
  <button name="alphabetically">Alphabetisch</button>
  <button name="newest">Neueste zuerst</button>
</form>

<ul>
  <% tasks.each do |task| %>
  	<li>
  		<form action="/tasks/delete" METHOD="POST">
  		<%= h(task.name) %>
  		<input type="hidden" value= "<%=task.id%>" name= "task_id">
  		<!-- hidden: sendet versteckte Dateien mit-->
  		<button> X </button>
  	</form>
  </li>
  <% end %>
</ul>
