
<a href="/impressum">Impressum</a>

<h1> ToDo-Liste </h1>

<h3> Was gibts zu tun? </h3>

<form action='/' method='POST'>
  Schreibs hier auf: <input name="task"/> 
  
  <input type="submit" value="Bestätigen" />
</form>

<ul>
  <% tasks.each do |task| %>
  	<li>
  		<form action="/tasks/delete" METHOD="POST">
  		<%= task.name %>
  		<input type="hidden" value= "<%=task.id%>" name= "task_id">
  		<!-- hidden: sendet versteckte Dateien mit-->
  		<button> X </button>
  	</form>
  </li>
  <% end %>
</ul>
