<!DOCTYPE html>
<html>
  <head>
  	<meta charset="utf-8">
    <title>ToDo</title>
    <!--Style enthaelt CSS-->
    <style type="text/css">
      /*Alles, was in geschweiften Klammern steht, auf das <p>-Tag anwenden*/
      p { color: red; }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
